 .u-section-1 {
  background-image: url("images/KakaoTalk_20220504_230244099_02.jpg");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1318px;
}

.u-section-1 .u-list-1 {
  width: 1060px;
  margin: 327px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  min-height: 542px;
  grid-gap: 26px 26px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-1 .u-group-1 {
  width: 220px;
  min-height: 197px;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 14px 20px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-1 .u-icon-2 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
  padding: 15px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-1 .u-group-2 {
  width: 220px;
  min-height: 197px;
  background-size: auto;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 14px 20px;
}

.u-section-1 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-1 .u-icon-4 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
  padding: 15px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-5 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-1 .u-group-3 {
  width: 220px;
  min-height: 197px;
  background-size: auto;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 14px 20px;
}

.u-section-1 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-1 .u-icon-6 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
  padding: 15px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-7 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-1 .u-group-4 {
  width: 220px;
  min-height: 197px;
  background-size: auto;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 0 14px 20px;
}

.u-section-1 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-text-8 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-1 .u-icon-8 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
  padding: 15px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-9 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-1 .u-group-5 {
  width: 220px;
  min-height: 197px;
  background-size: auto;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 0 14px 20px;
}

.u-section-1 .u-text-9 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-text-10 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-1 .u-icon-10 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
  padding: 15px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-11 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-1 .u-group-6 {
  width: 220px;
  min-height: 197px;
  background-size: auto;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 0 14px 20px;
}

.u-section-1 .u-text-11 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-text-12 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-1 .u-icon-12 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
  padding: 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: -416px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 17.3333px));
    min-height: 514px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-1 {
    width: 177px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-2 {
    width: 177px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-3 {
    width: 177px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-4 {
    width: 177px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-5 {
    width: 177px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-6 {
    width: 177px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-bottom: 0;
    padding-left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1092px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: -704px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13px));
    min-height: 802px;
  }

  .u-section-1 .u-group-1 {
    width: 219px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
  }

  .u-section-1 .u-group-2 {
    width: 219px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
  }

  .u-section-1 .u-group-3 {
    width: 219px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
  }

  .u-section-1 .u-group-4 {
    width: 219px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
  }

  .u-section-1 .u-group-5 {
    width: 219px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 20px;
  }

  .u-section-1 .u-group-6 {
    width: 219px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1067px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: -680px;
  }

  .u-section-1 .u-group-1 {
    width: 124px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 124px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 124px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-1 .u-group-4 {
    width: 124px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-1 .u-group-5 {
    width: 124px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-1 .u-group-6 {
    width: 124px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-11 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1652px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -1265px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 5px;
  }

  .u-section-1 .u-group-1 {
    width: 207px;
    margin-bottom: -5px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 14px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 5px;
  }

  .u-section-1 .u-group-2 {
    width: 207px;
    margin-bottom: -5px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 14px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 5px;
  }

  .u-section-1 .u-group-3 {
    width: 207px;
    margin-bottom: -5px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 14px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 5px;
  }

  .u-section-1 .u-group-4 {
    width: 207px;
    margin-bottom: -5px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 14px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 5px;
  }

  .u-section-1 .u-group-5 {
    width: 207px;
    margin-bottom: -5px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-bottom: 14px;
  }

  .u-section-1 .u-icon-11 {
    margin-top: 5px;
  }

  .u-section-1 .u-group-6 {
    width: 207px;
    margin-bottom: -5px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-bottom: 14px;
  }
}